.AvatarCard {
	margin-right: 1em;
	margin-top: 1em;
	display: flex;
	flex-direction: column;

	&__Card {
		&--body {
			text-align: center;
		}
	}

	&__Username {
		margin-top: 1em;
		font-size: 1.1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__Watching {
		font-size: 1.1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__Repositories {
		font-size: 1.1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
