.GithubProfiles {
	&__SearchForm {
		display: flex;
		flex-direction: column;
		width: 25%;
		margin-left: 20em;
		margin-bottom: 1em;

		&--header {
			left: 0;
			font-size: 2.5em;
			text-decoration: underline;
			text-underline-position: under;
			text-decoration-skip-ink: auto;
			letter-spacing: 0.2em;
		}
	}

	&__GithubContainer {
		margin-left: 20em;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		&--Wrapper {
			display: flex;
			flex-direction: row;
		}

		&--Avatar {
			display: flex;
			flex-direction: row;

			.card {
				max-width: 15em;
				overflow: scroll;
				word-wrap: break-word;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
			}

			margin-right: 2em;
		}

		&--Repositories {
			display: flex;
			flex-direction: column;
		}
		&--RepositoriesFirstRow {
			display: flex;
			justify-content: space-between;
		}

		&--RepositoriesSecondRow {
			display: flex;
			justify-content: space-between;
		}
	}
}
