.ProjectCard {
	margin-right: 1em;
	margin-top: 1em;
	max-width: 25em;
	min-width: 25em;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

	.card-title {
		font-size: 1.5em;
	}

	&__CardSubtitle {
		&--span {
			margin-left: 1em;
		}
	}
}
