.GithubProfiles {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 20em;
	margin-top: 2em;
	margin-bottom: 1em;

	&__header {
		left: 0;
		font-size: 2.5em;
		color: white;
		text-decoration: underline;
		text-underline-position: under;
		text-decoration-skip-ink: auto;
		letter-spacing: 0.2em;
	}
}

.GithubContainer {
	margin-left: 20em;
	display: flex;
	justify-content: start;
	flex-direction: column;

	&__Wrapper {
		display: flex;
		flex-direction: row;
	}

	&__Avatar {
		display: flex;
		flex-direction: row;

		.card {
			max-height: 18em;
			max-width: 18em;
			overflow: scroll;
			word-wrap: break-word;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		}

		margin-right: 2em;
	}

	&__Repositories {
		display: flex;
		flex-direction: column;

		&--firstRow {
			display: flex;
			justify-content: space-between;

			.card {
				max-width: 25em;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
			}
		}
		&--secondRow {
			display: flex;
			justify-content: space-between;

			.card {
				max-width: 25em;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
			}
		}
	}
}
