body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Comic Sans' !important;
	background-color: #2a363b !important;
	// Color Palette:
	// 99B898   FECEAB   FF847C   E84A5F   2A363B
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
